.slidecontainer {
    width: 100%;
  }
  
  .slider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #ffffff;
    outline: none;
    opacity: 1;
    border-radius:5px;
  }
  
  
  .slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    border-radius:50%;
    height: 20px;
    background: #3A9DFC;
    cursor: pointer;
  }
  
  .slider1::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3A9DFC;
    cursor: pointer;
  }